@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@500&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

/* Toepassing kleur in comments erbij zetten (zodat je het niet 138 keer hoeft aan te passen */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-color: #5722CD;
    --blue-color: #4845E4;
    --pink-color: #ED4385;
    --black-standard-text-color: #0C0C0C;
    --lightpurple-floating-text-color: #F2F0FF;
    --lightgrey-background-color: #F3F6F9;
    --grey-service-tiles-color: #7A7A7A;
}

/* ------------------------------- 2. Typography ----------------------------------- */

/* download roboto font weight 700 */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}


/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

button {
    background-color: var(--pink-color);
    border: none;
    color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 50px;
    text-transform: uppercase;
}

a {
    color: var(--purple-color);
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background: linear-gradient(180deg, var(--blue-color), var(--purple-color));
    color: white;
}

.nav-container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.nav-item {
    display: block;
    padding: 40px 20px;
    color: white;
    text-decoration: none;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 180px 30px 280px 30px;
    text-align: center;
}

/* --------------- 4.2 Introduction ------------------- */

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--purple-color);
    padding: 80px 0 65px 0;
}

.intro-item {
    font-size: 19px;
    text-align: center;
    margin: 10px 8px;
}

.intro-contact-item {
    color: var(--black-standard-text-color);
    font-size: 16px;
    padding-top: 20px;
}

/* --------------- 4.3 Work ------------------- */

.work-container {
    display: flex;
    flex-direction: column;
    background-color: var(--lightgrey-background-color);
    color: var(--black-standard-text-color);
}

img {
    padding: 15px;
    width: auto;
    max-width: 100%;
    height: auto;
}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}

.work-text-item-container {
    padding: 15px;
    /*margin: 10px;*/
}

.work-decorative-item {
    padding: 30px 0 30px 0;
    margin: 0px;
}

.work-text-item {
    padding: 0px 0 35px 0;
    font-size: 15px;
}

.work-link-item {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11.5px;
    padding: 30px 0;
    letter-spacing: 2px;
}

/* ------------------------------- 4.5 Form -------------------------------- */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, var(--blue-color), var(--purple-color));
    color: white;
}

/* ------------------------------- 5. Media Queries -------------------------------- */